@binarta-cookie-notice-color-bg: #00AFD0;
@binarta-cookie-notice-color: #ffffff;

#binarta-cookie-notice-wrapper {
  width: 100%;
  color: @binarta-cookie-notice-color;
  background: @binarta-cookie-notice-color-bg;
  text-align: center;
  z-index: 1034;
  position: relative;
  overflow: hidden;

  #binarta-cookie-notice {
    padding: 10px 40px 10px 10px;
    line-height: 1.4;
    cursor: pointer;

    p {
      margin: 0;
      padding: 0;
    }

    .binarta-cookie-notice-message {
      font-size: 11px;
    }

    .binarta-cookie-notice-close {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 30px;
      color: @binarta-cookie-notice-color;
      background-color: darken(@binarta-cookie-notice-color-bg, 5%);
      .binarta-cookie-notice-close-inner {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      .binarta-cookie-notice-close-label {
        display: none;
      }
    }
  }

  @media (min-width: 480px) {
    #binarta-cookie-notice {
      .binarta-cookie-notice-message {
        font-size: 12px;
      }
    }
  }

  @media (min-width: 768px) {
    #binarta-cookie-notice {
      padding: 10px 60px;
      opacity: 0.8;
      transition: opacity 250ms ease;

      &:hover {
        opacity: 1;
      }

      .binarta-cookie-notice-message {
        font-size: 13px;
      }
      .binarta-cookie-notice-close {
        width: 50px;
      }
    }
  }

  @media (min-width: 992px) {
    #binarta-cookie-notice {
      padding: 10px 100px;
      .binarta-cookie-notice-message {
        font-size: 13px;
      }
      .binarta-cookie-notice-close {
        width: 90px;
      }

      &:hover {
        .binarta-cookie-notice-close {
          .binarta-cookie-notice-close-label {
            display: inline;
          }
        }
      }
    }
  }
}
